.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  width: auto;
  height: auto;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.mine-displayed {
    background-image: url('../img/bomb.svg');
    background-repeat: no-repeat;
    background-size:contain;
  }

  .flag {
    background-image: url('../img/Flag.svg');
    background-repeat: no-repeat;
    background-size:contain;
  }
  

.cell {
  width: 1.7rem;
  border: 1px solid black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  flex-grow: 1;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 1rem;
  background-color: #7d7f85;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
  padding-top: 0.8rem;
  gap: 1rem;
}

.time {
  height: 2rem;
  text-align: center;
  font-size: 1rem;
}

.rules {
  width: 80%;
  height: auto;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
}

.clicks, .flags, .mines {
  height: 2rem;
  text-align: center;
  font-size: 1rem;
}

.button {
  background-color: #7d7f85;
  color: #fef9fc;
  width: auto;
  height: auto;
  min-height: 2.5rem;
  border: 1px solid #64666a;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.game-over {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-top: 1rem;
}




.message-congrats {
    font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-top: 1rem;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #000000;
  color: #ffffff;
}
select {
  background-color: #fff;
  border: 2px solid #f1f1f1;
  color: #000;
  padding: 5px;
  font-size: 16px;
  margin: 5px;
  width: 200px;
}

select:hover {
  border-color: #000;
}




@media (max-width: 500px) {
  .container {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .game-board {
    width: 90vw;
    margin: 1rem;
  }
  .cell {
    width: 1rem;
    font-size: 1.1rem;
  }
  .table {
    width: 90vw;
  }
  .rules {
    width: 100%;
    margin: 1rem;
    font-size: 0.9rem;
  }
  .button {
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
  }
  .game-over {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}
